body {
    font-family: monospace;
    position: relative;
    text-align: center;
}

#titleDiv {
    font-family: monospace;
}

#displayDiv {
    height: 50px;
}

#display {
    font-size: 1.5em;
    margin-top: 25px;
}

#opKeys {
    margin-bottom: 20px;
}

.function {
    width: 40px;
    height: 40px;
    margin-bottom: 2px;
    padding: 5px;
    background-color: lightpink;
    border: 1px solid black;
    border-radius: 5px;
}

#numKeys {
    margin-bottom: 5px;
}

.keys {
    width: 40px;
    height: 40px;
    border: 1px dashed black;
}

#key10{
    margin-top: 0;
}

#funKeys {
    margin-top: 20px;
    padding: 2px;
    margin: 0px;
}

.function {
    width: 40px;
    height: 40px;
    margin: 2px;
    padding: 5px;
    background-color: lightpink;
    border: 1px solid black;
    border-radius: 5px;
}

#footer {
    font-family: monospace;
    margin-top: 20px;
    font-size: .9em;
}

#next {
    font-family: monospace;
    font-size: .9em;
}

